services:
  app:
    build: .
    depends_on:
      - redis
    networks:
      - stacknet
    secrets:
      - app_secret
      - postgres_password

  redis:
    image: redis:7-alpine
    networks: [stacknet]

  nginx:
    image: nginx:alpine
    depends_on: [app]
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
      - nginx_cache:/var/cache/nginx
    ports: ["80:80","443:443"]
    networks: [stacknet]
    restart: unless-stopped

networks:
  stacknet: {}

volumes:
  nginx_cache: {}

secrets:
  app_secret:
    file: ./secrets/app_secret
  postgres_password:
    file: ./secrets/postgres_password