services:
  nginx:
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
      - ./tls/server.crt:/etc/ssl/certs/server.crt:ro
      - ./tls/server.key:/etc/ssl/private/server.key:ro
