services:
  bff:
    build: ./bff
    container_name: iip_secure_stack-bff-1
    networks: [iip_net]
    depends_on:
      - webhook
  api-gateway:
    image: nginx:alpine
    container_name: iip_secure_stack-api-gateway-1
    volumes:
      - ./api-gateway/nginx.conf:/etc/nginx/nginx.conf:ro
    ports:
      - "8081:8081"
    depends_on:
      - bff
    networks: [iip_net]

networks:
  iip_net:
    external: true
