services:
  app:
    secrets:
      - app_secret
      - postgres_password

  postgres:
    secrets:
      - postgres_password
    environment:
      POSTGRES_PASSWORD_FILE: /run/secrets/postgres_password

secrets:
  app_secret:
    file: ./secrets/app_secret
  postgres_password:
    file: ./secrets/postgres_password
