apiVersion: v1
kind: Pod
metadata:
  name: kyverno-readonly-test
  namespace: iip-dev
spec:
  securityContext:
    seccompProfile:
      type: RuntimeDefault
    fsGroup: 1000
  containers:
  - name: c
    image: busybox@sha256:355b3a1bf5609da364166913878a8508d4ba30572d02020a97028c75477e24ff
    command: ["sh","-c","id; whoami; sleep 3600"]
    securityContext:
      runAsUser: 1000
      runAsGroup: 1000
      runAsNonRoot: true
      allowPrivilegeEscalation: false
      readOnlyRootFilesystem: true
      capabilities:
        drop: ["ALL"]
    volumeMounts:
    - name: tmp
      mountPath: /tmp
  volumes:
  - name: tmp
    emptyDir: {}
