name: gitleaks
on:
  pull_request:
    branches: [main]
  push:
    branches: [main]
jobs:
  scan:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Scan secrets with gitleaks
        uses: addnab/docker-run-action@v3
        with:
          image: zricethezav/gitleaks:latest
          options: -v ${{ github.workspace }}:/repo
          run: gitleaks detect --source=/repo --no-banner --redact
